*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    height: 10vh;
    width: 100%;
    display:flex;
    border: 1px solid red;
    background-color: black;
    flex-direction: row;
    justify-content: space-between;
}
.brand{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;

}
.brand .logo {
    height: 100%;
    width: 50%;

}
.navbar{
    height:100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .nav_link{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.navbar .nav_link li {
    height: 30px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 80px;
    align-items: center;
}
.navbar .nav_link li:hover {
    background-color: grey;
}
.navbar .nav_link li:hover a {
    color: black;
}
.navbar .nav_link li a {
    text-decoration: none;
    color: white;
}
/* Responsive Desgin starts */
/* For Smaller Screen Size */
@media only screen and (min-width: 992px){

}
/* Fo TABLET DEVIVE  */
@media only screen and (-width: 992px){

}



.appitisingGIF{
    width: 1440px;
    height: 300px;
    background-image:url();
}
















.col{
    flex-basis: 50%;
    margin-left: 50px;
    margin-top: 300px;
}
.container2
{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(4, 255, 66, 0.7),rgba(139, 0, 0, 0.7)),url(Untitled\ design.png);
    background-position: center;
    background-size:cover;
    padding-left: 8%;
    padding-right:8%;
    box-sizing : border-box;
}
.navbar2
{
    height:12%;
    display:flex;
    align-items: center;
}
.row{
    display:flex;
    height:88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
    margin-left: 50px;
    margin-top: 300px;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: -moz-grabbing;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition:transform 0.5s;
}
.card1{
    background-image: url(50228_Pan_with_meat_cooking_with_flames_over_stove_by_Omri_Ohana_Artgrid-HD_H264-HD);

}
.card2{
    background-image: url();

}
.card3{
    background-image: url(50228_Pan_with_meat_cooking_with_flames_over_stove_by_Omri_Ohana_Artgrid-HD_H264-HD.mp4);

}
.card4{
    background-image: url(67343_person_pouring_whiskey_into_glass_dutch_angle_by_Omri_Ohana_Artgrid-HD_H264-HD.mp4);

}
.card:hover{
    transform: translateY(-10px);

}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    font-size: 8px;
    text-shadow: 0 0 5px #000;

}
footer{
    background-color: #fff;
    margin-bottom: 0px;
    width: 1440px;
    height: 30px;
    font-size: 8px;
    font-weight: 700;
    text-emphasis-color: #000;
}


  




